@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1663862653138') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
  content: "\e670";
}

.icon-global:before {
  content: "\e632";
}

.icon-iosemailoutline:before {
  content: "\e75c";
}

.icon-email1:before {
  content: "\e60c";
}

.icon-socialgithuboutline:before {
  content: "\e8a1";
}

.icon-PC-email:before {
  content: "\e675";
}

.icon-ios-globe:before {
  content: "\e7e4";
}

